# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# Output
*.apk
*.aab

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
